<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
  <title><!-- tmpl_var name='blog_title' -->: Entries Tagged <!-- tmpl_var name='tagname' --></title> 
  <link rel="stylesheet" type="text/css" media="screen" href="<!-- tmpl_var name='top' -->style.css">
  <link rel="alternate" title="RSS Feed" href="<!-- tmpl_var name='tagname' escape='html' -->.rss" type="application/rss+xml">
 </head>
 <body>

 <div class="title">
  <h1><!-- tmpl_if name='blog_title' -->
       <a href="<!-- tmpl_var name='top' -->"><!-- tmpl_var name='blog_title' --></a>
      <!-- tmpl_else -->
       Untitled Blog
      <!-- /tmpl_if -->
  </h1>
  <!-- tmpl_if name='blog_subtitle' -->
      <h2><!-- tmpl_var name='blog_subtitle' --></h2>
  <!-- /tmpl_if -->
 </div>





<table width="100%">
<tr>
 <!-- left -->
 <td width="20%" valign="top"> 

<!-- tmpl_include name='box.inc' -->

<!-- tmpl_if name='calendar' -->
  <!-- tmpl_var name='calendar_month' -->
<!-- /tmpl_if name='calendar' -->

<!-- tmpl_if name='datecloud' -->
  <!-- tmpl_include name='archive.inc' -->
<!-- /tmpl_if name='datecloud' -->


</td>

 <!-- center -->
 <td valign="top" width="60%" style="padding: 2px;">
 <h3>Entries tagged "<!-- tmpl_var name='tagname' escape='html' -->".</h3>


<!-- tmpl_loop name='entries' -->
<div class="entry">
 <div class="title">
 <a href="<!-- tmpl_var name='top' --><!-- tmpl_var name='link' escape='html' -->"><!-- tmpl_var name='title' --></a>
 </div>
 <div class="date">
  <!-- tmpl_var name='date' -->
 </div>

 <div class="body">
  <!-- tmpl_var name='body' -->
 </div>
 <div class="tags">
   <!-- tmpl_if name='comment_count' -->
   <span class="comments">
   <a href="<!-- tmpl_var name='top' --><!-- tmpl_var name='link' escape='html' -->#comments"><!-- tmpl_var name='comment_count' --> comment<!-- tmpl_if name='comment_plural' -->s<!-- /tmpl_if --></a>
   </span>
   <!-- /tmpl_if -->

 <!-- tmpl_if name='tags' -->
  Tags: <!-- tmpl_loop name='tags' --><a href="<!-- tmpl_var name='top' -->tags/<!-- tmpl_var name='tag' escape='html' -->"><!-- tmpl_var name='tag' escape='html' --></a><!-- tmpl_if name="__last__" -->.<!-- tmpl_else -->, <!-- /tmpl_if --><!-- /tmpl_loop -->
 <!-- /tmpl_if -->
 </div>
</div>
<div class="padding"></div>
<!-- /tmpl_loop -->
 <p style="text-align: right;"><a href="<!-- tmpl_var name='tagname' escape='html' -->.rss"><img src="<!-- tmpl_var name='top' -->xml.gif" alt="RSS feed" width="36" height="14"></a></p>




 </td>
 <!-- Right -->
 <td width="20%" valign="top"> 

<!-- tmpl_if name='tagcloud' -->
 <!-- tmpl_include name='tags.inc' -->
<!-- /tmpl_if name='tagcloud' -->

</td>

</tr></table>

<p style="text-align: right; border-top: 1px solid black;">
Created by <a href="http://steve.org.uk/Software/chronicle">Chronicle v<!-- tmpl_var name='release' --></a>
</p>




</body>
</html>
